style.
 #container {
    margin: auto;
 }

 @media only screen and (max-width: 600px) {
    #container {
      width: 90%;
    }
 }

 @media (max-width:767px) and (min-width: 601px) {
    #container {
      width: 80%;
    }
 }

 @media only screen and (min-width: 768px) {
    #container {
      width: 50%;
    }
 }
 .introName {
    font-size: .7rem;
 }