extends main

block title
 |Welcome

block content
 p
  span.introName Hi Zeeshan #[br]
  p Welcome to WorkShow- we're excited you are there!
   |#[br] #[br]
   | Our website provide you a plateform where you can display yourself ,by displaying your project,create
   | post,notification system,job recommendation,download CV ,security.
   |#[br] #[br]
   |We congratulate you to create workshow account.